# Reshape Using Melt

    Melt is used to transform or reshape data

In [2]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47

In [3]:
df1 = pd.melt(df, id_vars=['day'])
df1

          day variable  value
0      Monday  chicago     32
1     Tuesday  chicago     30
2   Wednesday  chicago     28
3    Thursday  chicago     22
4      Friday  chicago     30
5    Saturday  chicago     20
6      Sunday  chicago     25
7      Monday  chennai     75
8     Tuesday  chennai     77
9   Wednesday  chennai     75
10   Thursday  chennai     82
11     Friday  chennai     83
12   Saturday  chennai     81
13     Sunday  chennai     77
14     Monday   berlin     41
15    Tuesday   berlin     43
16  Wednesday   berlin     45
17   Thursday   berlin     38
18     Friday   berlin     30
19   Saturday   berlin     45
20     Sunday   berlin     47

In [4]:
df1 = pd.melt(df, id_vars=['day'])
df1[df1['variable'] == 'chicago'] #selecting particular city

         day variable  value
0     Monday  chicago     32
1    Tuesday  chicago     30
2  Wednesday  chicago     28
3   Thursday  chicago     22
4     Friday  chicago     30
5   Saturday  chicago     20
6     Sunday  chicago     25

In [5]:
df1 = pd.melt(df, id_vars=['day'], var_name='city', value_name='temperature')
df1

          day     city  temperature
0      Monday  chicago           32
1     Tuesday  chicago           30
2   Wednesday  chicago           28
3    Thursday  chicago           22
4      Friday  chicago           30
5    Saturday  chicago           20
6      Sunday  chicago           25
7      Monday  chennai           75
8     Tuesday  chennai           77
9   Wednesday  chennai           75
10   Thursday  chennai           82
11     Friday  chennai           83
12   Saturday  chennai           81
13     Sunday  chennai           77
14     Monday   berlin           41
15    Tuesday   berlin           43
16  Wednesday   berlin           45
17   Thursday   berlin           38
18     Friday   berlin           30
19   Saturday   berlin           45
20     Sunday   berlin           47

In [7]:
#if you have multi-index columns
df.columns = [list('ABCD'), list('DEFG')]
df

           A   B   C   D
           D   E   F   G
0     Monday  32  75  41
1    Tuesday  30  77  43
2  Wednesday  28  75  45
3   Thursday  22  82  38
4     Friday  30  83  30
5   Saturday  20  81  45
6     Sunday  25  77  47

For more Details

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html